* {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  /* font-size: 15px; */
}
body{
  margin:0px;
  overflow-y: hidden;
  height: 100%;
  background-color: rgb(219, 213, 242);
}

h1 {
  font-size: 34px;
  text-align: center;
  background-color: rgb(132, 2, 249);
  color:white;
  margin:0px;
  padding:0px;
  font-weight: 600;
  top:0px;
  height: 45px;
}
section{
  background-color: white;
}

#message-board{
  overflow-y:scroll;
  height: calc(100% - 200px);
  margin:10px 3% 10px 3%;
  border: 1px solid black;
}

.post{
  display:flex;
  padding: 5px 5px 10px 5px;
  background-color: rgb(244, 236, 235);
  border: 1px solid rgb(107, 178, 230);
  border-radius: 15px;
  margin: 4px 3%;
}

.usertag{
  font-weight: bold;
}

img{
  height:60px;
}

#textInputBox{
  margin:10px 3% 10px 3%;
  border: 1px solid black;
}

.textBox{
  height:60px;
  width: 100%;
  display: flex;
  align-items:center;
}
.textBox textarea {
  width:89%;
  height: 100%;
}
.textBox button{
  width: 10%;
}

footer{
  display:flex;
  width: 100%;
  justify-content: space-between;
  color:white;
  background-color: black;
  font-size: 25px;
  height: 55px;

}
footer span{
  padding: 10px 5%;
}

#logout:hover{
  background-color: rgb(132, 2, 249);
}
