* {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  /* font-size: 15px; */
}
body{
  margin:0px;
  overflow-y: hidden;
}

h1 {
  font-size: 34px;
  text-align: center;
  background-color: rgb(132, 2, 249);
  color:white;
  margin:0px;
  padding: 10px;
  font-weight: 600;
}

section{
  overflow-y:scroll;
  height:60%;
}

.post{
  display:flex;
  padding: 5px 5px 10px 5px;
  background-color: rgb(244, 236, 235);
  border: 1px solid rgb(107, 178, 230);
  border-radius: 15px;
  margin: 4px 3%;
}

.usertag{
  font-weight: bold;
}

.textBox{
  position: absolute;
  bottom: 50px;
  width: 100%;
  display: flex;
  align-items:center;
}
.textBox textarea {
  width:89%;
  height: 80px;
  margin-left: 10px;
}
.textBox button{
  width: 9%;
}

img{
  height:60px;
}


footer{
  display:flex;
  width: 100%;
  justify-content: space-between;
  position:absolute;
  bottom:0px;
  color:white;
  background-color: black;
  font-size: 25px;
  height: 50px;

}
footer span{
  padding: 10px 5%;
}

footer span:hover{
  background-color: rgb(132, 2, 249);
}
